.centro {
  max-width: 62.5rem;
  margin: 3.75rem auto;
}
header > img {
  margin: 0 auto;
}
nav > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.12rem;
  margin: 3.125rem 0px 100px 0px;
}
.centro ul li a {
  background-color: white;
  padding: 0.93rem 1.87rem;
  text-decoration: none;
  display: block;
  color: black;
  border-radius: 4px;
  text-transform: uppercase;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.lado-esquerdo {
  padding: 2.5rem;
  text-align: end;
  display: grid;
  background-color: white;
  justify-items: end;
  align-content: center;
  gap: 1.25rem;
  position: relative;
}
span {
  width: 3.75rem;
  height: 0.25rem;
  display: block;
  background-color: red;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}
.lado-esquerdo a {
  background-color: #ee2211;
  padding: 0.93rem 1.56rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}
.grid > h2 {
  text-align: end;
  margin: auto 2.5rem;
  color: #c6c6c6;
  font-size: 4rem;
  text-transform: uppercase;
}
.vantagens {
  padding: 3.12rem;
  background-color: white;
}
.vantagens li {
  display: grid;
  align-items: center;
  gap: 0.62rem 1.25rem;
  padding: 1.25rem;
  grid-template-columns: auto 1fr;
}
.vantagens li p {
  grid-column: 2;
}
.roda-pe {
  background: white;
  padding: 2.5rem;
  text-align: center;
}
